*{
    margin: 0px;
    padding:0px ;
}
#navd{
    display:flex;
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../media/pexels-christina-morillo-1181253.jpg); */
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../media/pexels-anna-tarazevich-7771976.jpg); */
    /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../media/pexels-ekaterina-bolovtsova-6193081.jpg); */
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),  url(../media/pexels-christina.jpg);
    /* background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),  url(../media/pexels-7772021.jpg); */

  
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 10px; */
}
#logo
{
    margin-top: 26px;
    margin-left: 30px;
    size: 16px ;
    color: whitesmoke;
    font-style: italic;

}
#title
{
    /* padding:; */
    border:1px solid transparent;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #fff;
    color: #000;
}
#weblist
{
    margin-left: 53%;
}

ul{

    margin-top: 30px;
}

ul li 
{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

ul li a 
{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;

}
ul li a:hover
{
    background-color: #fff;
    color: #000;
}
#subtitle
{
    position: absolute;
    top: 30%;
    left: 36%;
    color: #fff;;
    font-size: 40px;
    text-shadow: #fff;
}
#subtitle1
{
    
    position: absolute;
    top: 39%;
    left:45%;
    color: #000;
    /* font-size: 40px; */
    /* text-shadow: #fff; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #fff;

}